.artist__baniere{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.artist__baniere__photo {
  height: 350px;
  width: 1250px;
  object-fit: cover;
  opacity: 0.6;

}
.artist__profile__photo {
  height: 200px;
  width: 200px;
  border-radius: 180px;
  object-fit: cover;
  transition: 0.25s;
  margin-top: -160px;
  margin-left: 30px;
}
.artist__profile {
  display: flex;
}
.artist__profile__text{
    margin-top: -100px;
}