@import url(style.css);
.artist {
  height: 200px;
  width: 200px;
}
.img-artist {
  height: 200px;
  width: 200px;
  border-radius: 180px;
}
.h3-artist {
  text-align: center;
  margin-top: -21px;
}
.col-artist:hover .artist {
  height: 240px;
  width: 240px;
}
.col-artist:hover .img-artist {
  height: 240px;
  width: 240px;
  border-radius: 180px;
}
.container1 {
  margin-bottom: 35px;
}

.bitina {
  position: relative;
  left: 55px;
  bottom: 113px;
  border-radius: 15px;
  border: gray;
  background-color: var(--primary);
  color: #fff;
  opacity: 0;
}

.col-artist:hover .bitina {
  opacity: 1;
}
