@import url(style.css);
.genre {
  width: 200px;
  height: 180px;
}
.img-genre {
  width: 200px;
  height: 180px;
  object-fit: cover;
}
.h3-genre {
  text-align: start;
  margin-top: -25px;
  color: white;
}
